<h1>CATEGORY:   {{items.[0].name}}</h1>
<h1>NAME:   {{items.[0].menuitems.[0].name}}</h1>
<h1>DESCRIPTION:   {{items.[0].menuitems.[0].description}}</h1>
<h1>PRICE:   ${{items.[0].menuitems.[0].price}}</h1>
<h1>QUANTITY:   {{items.[0].menuitems.[0].quantity}}</h1>
<h1> - {{items.[0].menuitems.[0].modifier.M1}}</h1>
<h1> - {{items.[0].menuitems.[0].modifier.M2}}</h1>
<h1> - {{items.[0].menuitems.[0].modifier.M3}}</h1>