{{#each items as |item|}}
<p>{{item.name}}</p>
{{/each}}

<h1>Would you like to add a new menu item?</h1>
<form id="addMenuItem">
    <input type="text" placeholder="Menu Item Name" id="name" />
    <input type="text" placeholder="Menu Item Description" id="description" />
    <input type="text" placeholder="Menu Item Price" id="price" />
    <input type="text" placeholder="Menu Item Quantity" id="quantity" />
    <select name="categories" id="categories">
        {{#each cats as |cat|}}
        <option value="{{cat.id}}" id="categoryId">{{cat.name}}</option>
        {{/each}}
    </select>
    <select name="sizes" id="sizes">
        {{#each size as |s|}}
        <option value="{{s.id}}" id="sizeId">{{s.name}}</option>
        {{/each}}
    </select>
    <select name="mods" id="mods">
        {{#each mods as |mod|}}
        <option value="{{mod.id}}" id="modifierId">{{mod.name}}</option>
        {{/each}}
    </select>
    <select name="emps" id="emps">
        {{#each emps as |emp|}}
        <option value="{{emp.id}}" id="employeeId">{{emp.first_name}} {{emp.last_name}}</option>
        {{/each}}
    </select>
    <button id="addMenuItemButton" type="submit">Submit</button>
</form>
<a href="/menu" id="cancelButton">Cancel</a>

<script src="/js/createMenuItem.js"></script>