<form id="addMenuItem">
    <div class="bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-red w-full">
                    <h1 class="mb-8 text-3xl text-center">New Menu Item</h1>
                    <input 
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        id="name"
                        placeholder="Menu Item Name" />
                    </input>

                    <input 
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        id="description"
                        placeholder="Menu Item Description" />
                    </input>

                    <input 
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        id="price"
                        placeholder="Menu Item Price" />
                    </input>

                    <input 
                        type="text"
                        class="block border border-grey-light w-full p-3 rounded mb-4"
                        id="quantity"
                        placeholder="Menu Item Quantity" />
                    </input>

                    <select class="block border border-grey-light w-full p-3 rounded mb-4" name="categories" id="categories">
                        {{#each cats as |cat|}}
                           <option  value="{{cat.id}}" id="categoryId">{{cat.name}}</option>
                        {{/each}}
                      </select>

                      <select class="block border border-grey-light w-full p-3 rounded mb-4" name="sizes" id="sizes">
                        {{#each size as |s|}}
                        <option value="{{s.id}}" id="sizeId">{{s.name}}</option>
                        {{/each}}
                     </select>

                     <select class="block border border-grey-light w-full p-3 rounded mb-4" name="mods" id="mods">
                        {{#each mods as |mod|}}
                        <option value="{{mod.id}}" id="modifierId">{{mod.name}}</option>
                        {{/each}}
                     </select>

                     <select class="block border border-grey-light w-full p-3 rounded mb-4" name="emps" id="emps">
                        {{#each emps as |emp|}}
                        <option value="{{emp.id}}" id="employeeId">{{emp.first_name}} {{emp.last_name}}</option>
                        {{/each}}
                     </select>
                    
                    <button
                        type="submit"
                        class=" bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-1 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 w-full text-center py-3 rounded bg-blue text-black  focus:outline-none my-1 mt-8"
                        id="addMenuItemButton"
                    ><strong class=text-lg>Create</strong>
                    </button>
                </div>

                <div class="text-grey-dark mt-8">
                    Want to Create a New Menu Item? 
                </div>
            </div>
    </div>
</form>
<script src="/js/createMenuItem.js"></script>