<div class="pizzaCat">
    <h1>{{category.[0].name}}</h1>
    <div class="pizzamenu">
        <div class="pizza0">
            <h3>{{category.[0].menuitems.[0].name}}</h3>
            <h4>{{category.[0].menuitems.[0].description}}</h4>
            <h4>${{category.[0].menuitems.[0].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M1}}">
                <label for="M1">{{category.[0].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M2}}">
                <label for="M1">{{category.[0].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M3}}">
                <label for="M1">{{category.[0].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M4}}">
                <label for="M1">{{category.[0].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M5}}">
                <label for="M1">{{category.[0].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M6}}">
                <label for="M1">{{category.[0].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M7}}">
                <label for="M1">{{category.[0].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M8}}">
                <label for="M1">{{category.[0].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M9}}">
                <label for="M1">{{category.[0].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M10}}">
                <label for="M1">{{category.[0].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M11}}">
                <label for="M1">{{category.[0].modifier.M11}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M12}}">
                <label for="M1">{{category.[0].modifier.M12}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M13}}">
                <label for="M1">{{category.[0].modifier.M13}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M14}}">
                <label for="M1">{{category.[0].modifier.M14}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M15}}">
                <label for="M1">{{category.[0].modifier.M15}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M16}}">
                <label for="M1">{{category.[0].modifier.M16}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M17}}">
                <label for="M1">{{category.[0].modifier.M17}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M18}}">
                <label for="M1">{{category.[0].modifier.M18}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M19}}">
                <label for="M1">{{category.[0].modifier.M19}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M20}}">
                <label for="M1">{{category.[0].modifier.M20}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M21}}">
                <label for="M1">{{category.[0].modifier.M21}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M22}}">
                <label for="M1">{{category.[0].modifier.M22}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M23}}">
                <label for="M1">{{category.[0].modifier.M23}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M24}}">
                <label for="M1">{{category.[0].modifier.M24}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M25}}">
                <label for="M1">{{category.[0].modifier.M25}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M26}}">
                <label for="M1">{{category.[0].modifier.M26}}</label><br>
            </div> 
        </div>
        <div class="pizza1">
            <h3>{{category.[0].menuitems.[1].name}}</h3>
            <h4>{{category.[0].menuitems.[1].description}}</h4>
            <h4>${{category.[0].menuitems.[1].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M1}}">
                 <label for="M1">{{category.[0].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M2}}">
                <label for="M1">{{category.[0].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M3}}">
                <label for="M1">{{category.[0].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M4}}">
                <label for="M1">{{category.[0].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M5}}">
                <label for="M1">{{category.[0].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M6}}">
                <label for="M1">{{category.[0].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M7}}">
                <label for="M1">{{category.[0].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M8}}">
                <label for="M1">{{category.[0].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M9}}">
                <label for="M1">{{category.[0].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M10}}">
                <label for="M1">{{category.[0].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M11}}">
                <label for="M1">{{category.[0].modifier.M11}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M12}}">
                <label for="M1">{{category.[0].modifier.M12}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M13}}">
                <label for="M1">{{category.[0].modifier.M13}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M14}}">
                <label for="M1">{{category.[0].modifier.M14}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M15}}">
                <label for="M1">{{category.[0].modifier.M15}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M16}}">
                <label for="M1">{{category.[0].modifier.M16}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M17}}">
                <label for="M1">{{category.[0].modifier.M17}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M18}}">
                <label for="M1">{{category.[0].modifier.M18}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M19}}">
                <label for="M1">{{category.[0].modifier.M19}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M20}}">
                <label for="M1">{{category.[0].modifier.M20}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M21}}">
                <label for="M1">{{category.[0].modifier.M21}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M22}}">
                <label for="M1">{{category.[0].modifier.M22}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M23}}">
                <label for="M1">{{category.[0].modifier.M23}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M24}}">
                <label for="M1">{{category.[0].modifier.M24}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M25}}">
                <label for="M1">{{category.[0].modifier.M25}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M26}}">
                <label for="M1">{{category.[0].modifier.M26}}</label><br>
            </div>
        </div>
        <div class="pizza2">
            <h3>{{category.[0].menuitems.[2].name}}</h3>
            <h4>{{category.[0].menuitems.[2].description}}</h4>
            <h4>${{category.[0].menuitems.[2].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M1}}">
                 <label for="M1">{{category.[0].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M2}}">
                <label for="M1">{{category.[0].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M3}}">
                <label for="M1">{{category.[0].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M4}}">
                <label for="M1">{{category.[0].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M5}}">
                <label for="M1">{{category.[0].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M6}}">
                <label for="M1">{{category.[0].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M7}}">
                <label for="M1">{{category.[0].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M8}}">
                <label for="M1">{{category.[0].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M9}}">
                <label for="M1">{{category.[0].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M10}}">
                <label for="M1">{{category.[0].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M11}}">
                <label for="M1">{{category.[0].modifier.M11}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M12}}">
                <label for="M1">{{category.[0].modifier.M12}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M13}}">
                <label for="M1">{{category.[0].modifier.M13}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M14}}">
                <label for="M1">{{category.[0].modifier.M14}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M15}}">
                <label for="M1">{{category.[0].modifier.M15}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M16}}">
                <label for="M1">{{category.[0].modifier.M16}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M17}}">
                <label for="M1">{{category.[0].modifier.M17}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M18}}">
                <label for="M1">{{category.[0].modifier.M18}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M19}}">
                <label for="M1">{{category.[0].modifier.M19}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M20}}">
                <label for="M1">{{category.[0].modifier.M20}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M21}}">
                <label for="M1">{{category.[0].modifier.M21}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M22}}">
                <label for="M1">{{category.[0].modifier.M22}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M23}}">
                <label for="M1">{{category.[0].modifier.M23}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M24}}">
                <label for="M1">{{category.[0].modifier.M24}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M25}}">
                <label for="M1">{{category.[0].modifier.M25}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M26}}">
                <label for="M1">{{category.[0].modifier.M26}}</label><br>
            </div>
        </div>
        <div class="pizza3">
            <h3>{{category.[0].menuitems.[3].name}}</h3>
            <h4>{{category.[0].menuitems.[3].description}}</h4>
            <h4>${{category.[0].menuitems.[3].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M1}}">
                 <label for="M1">{{category.[0].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M2}}">
                <label for="M1">{{category.[0].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M3}}">
                <label for="M1">{{category.[0].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M4}}">
                <label for="M1">{{category.[0].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M5}}">
                <label for="M1">{{category.[0].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M6}}">
                <label for="M1">{{category.[0].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M7}}">
                <label for="M1">{{category.[0].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M8}}">
                <label for="M1">{{category.[0].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M9}}">
                <label for="M1">{{category.[0].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M10}}">
                <label for="M1">{{category.[0].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M11}}">
                <label for="M1">{{category.[0].modifier.M11}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M12}}">
                <label for="M1">{{category.[0].modifier.M12}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M13}}">
                <label for="M1">{{category.[0].modifier.M13}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M14}}">
                <label for="M1">{{category.[0].modifier.M14}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M15}}">
                <label for="M1">{{category.[0].modifier.M15}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M16}}">
                <label for="M1">{{category.[0].modifier.M16}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M17}}">
                <label for="M1">{{category.[0].modifier.M17}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M18}}">
                <label for="M1">{{category.[0].modifier.M18}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M19}}">
                <label for="M1">{{category.[0].modifier.M19}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M20}}">
                <label for="M1">{{category.[0].modifier.M20}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M21}}">
                <label for="M1">{{category.[0].modifier.M21}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M22}}">
                <label for="M1">{{category.[0].modifier.M22}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M23}}">
                <label for="M1">{{category.[0].modifier.M23}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M24}}">
                <label for="M1">{{category.[0].modifier.M24}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M25}}">
                <label for="M1">{{category.[0].modifier.M25}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[0].modifier.M26}}">
                <label for="M1">{{category.[0].modifier.M26}}</label><br>
            </div>
        </div>
    </div>
</div>
<div class="calzonesCat">
    <h1>{{category.[1].name}}</h1>
    <div class="calzonemenu">
        <div class="calzone0">
            <h3>{{category.[1].menuitems.[0].name}}</h3>
            <h4>{{category.[1].menuitems.[0].description}}</h4>
            <h4>${{category.[1].menuitems.[0].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M1}}">
                 <label for="M1">{{category.[1].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M2}}">
                <label for="M1">{{category.[1].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M3}}">
                <label for="M1">{{category.[1].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M4}}">
                <label for="M1">{{category.[1].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M5}}">
                <label for="M1">{{category.[1].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M6}}">
                <label for="M1">{{category.[1].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M7}}">
                <label for="M1">{{category.[1].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M8}}">
                <label for="M1">{{category.[1].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M9}}">
                <label for="M1">{{category.[1].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M10}}">
                <label for="M1">{{category.[1].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M11}}">
                <label for="M1">{{category.[1].modifier.M11}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M12}}">
                <label for="M1">{{category.[1].modifier.M12}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M13}}">
                <label for="M1">{{category.[1].modifier.M13}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M14}}">
                <label for="M1">{{category.[1].modifier.M14}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M15}}">
                <label for="M1">{{category.[1].modifier.M15}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M16}}">
                <label for="M1">{{category.[1].modifier.M16}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M17}}">
                <label for="M1">{{category.[1].modifier.M17}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M18}}">
                <label for="M1">{{category.[1].modifier.M18}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M19}}">
                <label for="M1">{{category.[1].modifier.M19}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M20}}">
                <label for="M1">{{category.[1].modifier.M20}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M21}}">
                <label for="M1">{{category.[1].modifier.M21}}</label><br>
            </div>
        </div>
        <div class="calzone1">
            <h3>{{category.[1].menuitems.[1].name}}</h3>
            <h4>{{category.[1].menuitems.[1].description}}</h4>
            <h4>${{category.[1].menuitems.[1].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M1}}">
                 <label for="M1">{{category.[1].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M2}}">
                <label for="M1">{{category.[1].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M3}}">
                <label for="M1">{{category.[1].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M4}}">
                <label for="M1">{{category.[1].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M5}}">
                <label for="M1">{{category.[1].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M6}}">
                <label for="M1">{{category.[1].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M7}}">
                <label for="M1">{{category.[1].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M8}}">
                <label for="M1">{{category.[1].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M9}}">
                <label for="M1">{{category.[1].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M10}}">
                <label for="M1">{{category.[1].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M11}}">
                <label for="M1">{{category.[1].modifier.M11}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M12}}">
                <label for="M1">{{category.[1].modifier.M12}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M13}}">
                <label for="M1">{{category.[1].modifier.M13}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M14}}">
                <label for="M1">{{category.[1].modifier.M14}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M15}}">
                <label for="M1">{{category.[1].modifier.M15}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M16}}">
                <label for="M1">{{category.[1].modifier.M16}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M17}}">
                <label for="M1">{{category.[1].modifier.M17}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M18}}">
                <label for="M1">{{category.[1].modifier.M18}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M19}}">
                <label for="M1">{{category.[1].modifier.M19}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M20}}">
                <label for="M1">{{category.[1].modifier.M20}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[1].modifier.M21}}">
                <label for="M1">{{category.[1].modifier.M21}}</label><br>
            </div>
        </div>
    </div>
</div>
<div class="strombolisCat">
    <h1>{{category.[2].name}}</h1>
    <div class="strombolimenu">
        <div class="stromboli0">
            <h3>{{category.[2].menuitems.[0].name}}</h3>
            <h4>{{category.[2].menuitems.[0].description}}</h4>
            <h4>${{category.[2].menuitems.[0].price}}</h4>
        </div>
        <div class="stromboli1">
            <h3>{{category.[2].menuitems.[1].name}}</h3>
            <h4>{{category.[2].menuitems.[1].description}}</h4>
            <h4>${{category.[2].menuitems.[1].price}}</h4>
        </div>
        <div class="stromboli2">
            <h3>{{category.[2].menuitems.[2].name}}</h3>
            <h4>{{category.[2].menuitems.[2].description}}</h4>
            <h4>${{category.[2].menuitems.[2].price}}</h4>
        </div>
    </div>
</div>
<div class="appetizersCat">
    <h1>{{category.[3].name}}</h1>
    <div class="appetizermenu">
        <div class="appetizer0">
            <h3>{{category.[3].menuitems.[0].name}}</h3>
            <h4>{{category.[3].menuitems.[0].description}}</h4>
            <h4>${{category.[3].menuitems.[0].price}}</h4>
        </div>
        <div class="appetizer1">
            <h3>{{category.[3].menuitems.[1].name}}</h3>
            <h4>{{category.[3].menuitems.[1].description}}</h4>
            <h4>${{category.[3].menuitems.[1].price}}</h4>
        </div>
        <div class="appetizer2">
            <h3>{{category.[3].menuitems.[2].name}}</h3>
            <h4>{{category.[3].menuitems.[2].description}}</h4>
            <h4>${{category.[3].menuitems.[2].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M1}}">
                 <label for="M1">{{category.[3].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M2}}">
                <label for="M1">{{category.[3].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M3}}">
                <label for="M1">{{category.[3].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M4}}">
                <label for="M1">{{category.[3].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M5}}">
                <label for="M1">{{category.[3].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M6}}">
                <label for="M1">{{category.[3].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M7}}">
                <label for="M1">{{category.[3].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M8}}">
                <label for="M1">{{category.[3].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M9}}">
                <label for="M1">{{category.[3].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M10}}">
                <label for="M1">{{category.[3].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[3].modifier.M11}}">
                <label for="M1">{{category.[3].modifier.M11}}</label><br>
            </div>
        </div>
    </div>
</div>
<div class="saladsCat">
    <h1>{{category.[4].name}}</h1>
    <div class="saladmenu">
        <div class="salad0">
            <h3>{{category.[4].menuitems.[0].name}}</h3>
            <h4>{{category.[4].menuitems.[0].description}}</h4>
            <h4>${{category.[4].menuitems.[0].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[4].modifier.M1}}">
                 <label for="M1">{{category.[4].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[4].modifier.M2}}">
                <label for="M1">{{category.[4].modifier.M2}}</label><br>
            </div>
        </div>
        <div class="salad1">
            <h3>{{category.[4].menuitems.[1].name}}</h3>
            <h4>{{category.[4].menuitems.[1].description}}</h4>
            <h4>${{category.[4].menuitems.[1].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[4].modifier.M1}}">
                 <label for="M1">{{category.[4].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[4].modifier.M2}}">
                <label for="M1">{{category.[4].modifier.M2}}</label><br>
            </div>
        </div>
    </div>
</div>
<div class="entreesCat">
    <h1>{{category.[5].name}}</h1>
    <div class="entreemenu">
        <div class="entree0">
            <h3>{{category.[5].menuitems.[0].name}}</h3>
            <h4>{{category.[5].menuitems.[0].description}}</h4>
            <h4>${{category.[5].menuitems.[0].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[5].modifier.M1}}">
                 <label for="M1">{{category.[5].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[5].modifier.M2}}">
                <label for="M1">{{category.[5].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[5].modifier.M3}}">
                <label for="M1">{{category.[5].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[5].modifier.M4}}">
                <label for="M1">{{category.[5].modifier.M4}}</label><br>
            </div>
        </div>
        <div class="entree1">
            <h3>{{category.[5].menuitems.[1].name}}</h3>
            <h4>{{category.[5].menuitems.[1].description}}</h4>
            <h4>${{category.[5].menuitems.[1].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[5].modifier.M1}}">
                 <label for="M1">{{category.[5].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[5].modifier.M2}}">
                <label for="M1">{{category.[5].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[5].modifier.M3}}">
                <label for="M1">{{category.[5].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[5].modifier.M4}}">
                <label for="M1">{{category.[5].modifier.M4}}</label><br>
            </div>
        </div>
    </div>
</div>
<div class="pastasCat">
    <h1>{{category.[6].name}}</h1>
    <div class="pastamenu">
        <div class="pasta0">
            <h3>{{category.[6].menuitems.[0].name}}</h3>
            <h4>{{category.[6].menuitems.[0].description}}</h4>
            <h4>${{category.[6].menuitems.[0].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[6].modifier.M1}}">
                 <label for="M1">{{category.[6].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[6].modifier.M2}}">
                <label for="M1">{{category.[6].modifier.M2}}</label><br>
            </div>
        </div>
        <div class="pasta1">
            <h3>{{category.[6].menuitems.[1].name}}</h3>
            <h4>{{category.[6].menuitems.[1].description}}</h4>
            <h4>${{category.[6].menuitems.[1].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[6].modifier.M1}}">
                 <label for="M1">{{category.[6].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[6].modifier.M2}}">
                <label for="M1">{{category.[6].modifier.M2}}</label><br>
            </div>
        </div>
    </div>
</div>
<div class="hotsubCat">
    <h1>{{category.[7].name}}</h1>
    <div class="hotsubmenu">
        <div class="hotsub0">
            <h3>{{category.[7].menuitems.[0].name}}</h3>
            <h4>{{category.[7].menuitems.[0].description}}</h4>
            <h4>${{category.[7].menuitems.[0].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[7].modifier.M1}}">
                 <label for="M1">{{category.[7].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[7].modifier.M2}}">
                <label for="M1">{{category.[7].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[7].modifier.M3}}">
                <label for="M1">{{category.[7].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[7].modifier.M4}}">
                <label for="M1">{{category.[7].modifier.M4}}</label><br>
            </div>
        </div>
        <div class="hotsub1">
            <h3>{{category.[7].menuitems.[1].name}}</h3>
            <h4>{{category.[7].menuitems.[1].description}}</h4>
            <h4>${{category.[7].menuitems.[1].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[7].modifier.M1}}">
                 <label for="M1">{{category.[7].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[7].modifier.M2}}">
                <label for="M1">{{category.[7].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[7].modifier.M3}}">
                <label for="M1">{{category.[7].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[7].modifier.M4}}">
                <label for="M1">{{category.[7].modifier.M4}}</label><br>
            </div>
        </div>
    </div>
</div>
<div class="coldsubCat">
    <h1>{{category.[8].name}}</h1>
    <div class="coldsubmenu">
        <div class="coldsub0">
            <h3>{{category.[8].menuitems.[0].name}}</h3>
            <h4>{{category.[8].menuitems.[0].description}}</h4>
            <h4>${{category.[8].menuitems.[0].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M1}}">
                 <label for="M1">{{category.[8].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M2}}">
                <label for="M1">{{category.[8].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M3}}">
                <label for="M1">{{category.[8].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M4}}">
                <label for="M1">{{category.[8].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M5}}">
                <label for="M1">{{category.[8].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M6}}">
                <label for="M1">{{category.[8].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M7}}">
                <label for="M1">{{category.[8].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M8}}">
                <label for="M1">{{category.[8].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M9}}">
                <label for="M1">{{category.[8].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M10}}">
                <label for="M1">{{category.[8].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M11}}">
                <label for="M1">{{category.[8].modifier.M11}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M12}}">
                <label for="M1">{{category.[8].modifier.M12}}</label><br>
            </div>
        </div>
        <div class="coldsub1">
            <h3>{{category.[8].menuitems.[1].name}}</h3>
            <h4>{{category.[8].menuitems.[1].description}}</h4>
            <h4>${{category.[8].menuitems.[1].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M1}}">
                 <label for="M1">{{category.[8].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M2}}">
                <label for="M1">{{category.[8].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M3}}">
                <label for="M1">{{category.[8].modifier.M3}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M4}}">
                <label for="M1">{{category.[8].modifier.M4}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M5}}">
                <label for="M1">{{category.[8].modifier.M5}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M6}}">
                <label for="M1">{{category.[8].modifier.M6}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M7}}">
                <label for="M1">{{category.[8].modifier.M7}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M8}}">
                <label for="M1">{{category.[8].modifier.M8}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M9}}">
                <label for="M1">{{category.[8].modifier.M9}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M10}}">
                <label for="M1">{{category.[8].modifier.M10}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M11}}">
                <label for="M1">{{category.[8].modifier.M11}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[8].modifier.M12}}">
                <label for="M1">{{category.[8].modifier.M12}}</label><br>
            </div>
        </div>
    </div>
</div>
<div class="sideorderCat">
    <h1>{{category.[9].name}}</h1>
    <div class="sideordermenu">
        <div class="sideorder0">
            <h3>{{category.[9].menuitems.[0].name}}</h3>
            <h4>{{category.[9].menuitems.[0].description}}</h4>
            <h4>${{category.[9].menuitems.[0].price}}</h4>
        </div>
        <div class="sideorder1">
            <h3>{{category.[9].menuitems.[1].name}}</h3>
            <h4>{{category.[9].menuitems.[1].description}}</h4>
            <h4>${{category.[9].menuitems.[1].price}}</h4>
        </div>
    </div>
</div>
<div class="dessertCat">
    <h1>{{category.[10].name}}</h1>
    <div class="dessertmenu">
        <div class="dessert0">
            <h3>{{category.[10].menuitems.[0].name}}</h3>
            <h4>{{category.[10].menuitems.[0].description}}</h4>
            <h4>${{category.[10].menuitems.[0].price}}</h4>
        </div>
        <div class="dessert1">
            <h3>{{category.[10].menuitems.[1].name}}</h3>
            <h4>{{category.[10].menuitems.[1].description}}</h4>
            <h4>${{category.[10].menuitems.[1].price}}</h4>
        </div>
    </div>
</div>
<div class="beverageCat">
    <h1>{{category.[11].name}}</h1>
    <div class="beveragemenu">
        <div class="beverage0">
            <h3>{{category.[11].menuitems.[0].name}}</h3>
            <h4>{{category.[11].menuitems.[0].description}}</h4>
            <h4>${{category.[11].menuitems.[0].price}}</h4>
            <div class="modifiers">
                <input type="checkbox" id="M1" name="M1" value="{{category.[11].modifier.M1}}">
                 <label for="M1">{{category.[11].modifier.M1}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[11].modifier.M2}}">
                <label for="M1">{{category.[11].modifier.M2}}</label><br>
                <input type="checkbox" id="M1" name="M1" value="{{category.[11].modifier.M3}}">
                <label for="M1">{{category.[11].modifier.M3}}</label><br>
            </div>
        </div>
        <div class="beverage1">
            <h3>{{category.[11].menuitems.[1].name}}</h3>
            <h4>{{category.[11].menuitems.[1].description}}</h4>
            <h4>${{category.[11].menuitems.[1].price}}</h4>
        </div>
    </div>
</div>
<div class="NYspecCat">
    <h1>{{category.[12].name}}</h1>
    <div class="NYspecmenu">
        <div class="NYspec0">
            <h3>{{category.[12].menuitems.[0].name}}</h3>
            <h4>{{category.[12].menuitems.[0].description}}</h4>
            <h4>${{category.[12].menuitems.[0].price}}</h4>
        </div>
        <div class="NYspec1">
            <h3>{{category.[12].menuitems.[1].name}}</h3>
            <h4>{{category.[12].menuitems.[1].description}}</h4>
            <h4>${{category.[12].menuitems.[1].price}}</h4>
        </div>
    </div>
</div>