<h1>{{menuitem.name}}</h1>
<h2>{{menuitem.description}}</h2>
<h2>{{menuitem.price}}</h2>

<input type="checkbox" id="{{mods.[0].M1}}" name="{{mods.[0].M1}}" value="{{mods.[0].M1}}">
<label for="{{mods.[0].M1}}">{{mods.[0].M1}}</label><br>
