<h1>{{category.[0].name}}</h1>
<a href="/test/{{menuitem.[0].id}}">{{menuitem.[0].name}}</a> <br>
<a href="/test/{{menuitem.[1].id}}">{{menuitem.[1].name}}</a> <br>
<a href="/test/{{menuitem.[2].id}}">{{menuitem.[2].name}}</a> <br>
<a href="/test/{{menuitem.[3].id}}">{{menuitem.[3].name}}</a> <br>
<h1>{{category.[1].name}}</h1>
<a href="/test/{{menuitem.[0].id}}">{{menuitem.[4].name}}</a> <br>
<a href="/test/{{menuitem.[0].id}}">{{menuitem.[5].name}}</a> <br>
<h1>{{category.[2].name}}</h1>
<a href="/test/{{menuitem.[0].id}}">{{menuitem.[6].name}}</a> <br>
<a href="/test/{{menuitem.[0].id}}">{{menuitem.[7].name}}</a> <br>
<a href="/test/{{menuitem.[0].id}}">{{menuitem.[8].name}}</a> <br>
